<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Agregar Productos en Oferta</ion-title>
  </ion-navbar>

</ion-header>



<ion-content padding>

  <div *ngIf="items">

    <div *ngIf="items?.length == 0">
      <h2>Para poder Agregar Productos, primero debes registrar tu Empresa, Gracias.</h2>
    </div>

    <div *ngIf="items?.length != 0">

      <form [formGroup]="form" (ngSubmit)="submitForm()">


        <ion-list no-line>

          <H2>Productos</H2><br>
          <h4>Por favor registre tus productos, ten en cuenta que puedes agregar varios
            productos a la vez
            dando click en + AGREGAR PRODUCTO, revisa que no esten ingresando productos repetidos, por ultimo da
            Click en el Botón Guardar. Gracias</h4>
          <br>

          <p>Todos los campos con * son obligatorios, llene todos los campos para poder registrar</p>
          <p>Ingrese Fecha de Inicio y Fecha de Fin los productos en oferta que se incluyan en esa fecha, si tiene
            promoción de productos en fecha distinta
            registralos en un nuevo formulario. </p><br />


          <ion-item>
            <ion-icon name="calendar" item-start></ion-icon>
            <ion-label>Fecha y hora Inicio de Oferta*</ion-label>
            <ion-datetime name="fechaInicioOferta" #fechaInicioOferta formControlName="fechaInicioOferta" displayFormat="MMM/DD/YYYY, h:mm A"
              min="2019" max="2030" [(ngModel)]="date" (ionChange)="changedate($event)" cancelText='cancelar' doneText='Hecho'
              monthNames="Enero, Febrero, Marzo, Abril , Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"
              monthShortNames="Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic"></ion-datetime>
          </ion-item>
          <!--
          <ion-datetime display-format="MMM DD, YYYY HH:mm"></ion-datetime>
          displayFormat="D MMM YYYY H:mm"-->

          <div *ngIf="form.controls.fechaInicioOferta.touched && form.controls.fechaInicioOferta.hasError('required')">
            <p>Fecha Inico de oferta es requerido!</p>
          </div>

          <ion-item *ngIf="minDate">
            <ion-icon name="calendar" item-start></ion-icon>
            <ion-label>Fecha y hora Fin de Oferta*</ion-label>
            <ion-datetime name="fechaFinOferta" #fechaFinOferta formControlName="fechaFinOferta" displayFormat="MMM/DD/YYYY, h:mm A"
              min="{{minDate}}" max="2030" [(ngModel)]="date2" (ionChange)="changeFinDate($event)" cancelText='cancelar'
              doneText='Hecho' monthNames="Enero, Febrero, Marzo, Abril , Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"
              monthShortNames="Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic"></ion-datetime>
          </ion-item>

          <div *ngIf="form.controls.fechaFinOferta.touched && form.controls.fechaFinOferta.hasError('required')">
            <p>Fecha Fin de oferta es requerido!</p>
          </div>


          <div formArrayName="productos" margin-bottom>
            <p>Agrega productos : </p>

            <!-- Agregar nuevos productos -->
            <div *ngFor="let retur of productos.controls; let i=index" [formGroupName]="i">
              <ion-item-group>
                <ion-item-divider color="light">Producto #{{ i + 1 }}</ion-item-divider><br />

                <ion-item>
                  <ion-icon name="basket" item-start></ion-icon>
                  <ion-label stacked>Nombre del producto*</ion-label>
                  <ion-input type="text" name="name" #name formControlName="name"></ion-input>
                </ion-item>
                <div *ngIf="retur.get('name').touched && retur.get('name').hasError('required')">
                  <p>Nombre de producto es requerido!</p>
                </div>

                <ion-item>
                  <ion-icon name="pricetag" item-start></ion-icon>
                  <ion-label stacked>Precio Normal*</ion-label>
                  <ion-input type="number" name="price" #price formControlName="price"></ion-input>
                </ion-item>
                <div *ngIf="retur.get('price').touched && retur.get('price').hasError('required')">
                  <p>Precio de producto es requerido!, Ingrese el valor sin incluir el signo $, ni puntos ni comas.</p>
                </div>
                <div *ngIf="retur.get('price').touched && retur.get('price').hasError('pattern')">
                  <p>Ingrese el valor sin puntos, ni comas.</p>
                </div>



                <ion-item>
                  <ion-icon name="cash" item-start></ion-icon>
                  <ion-label stacked>Precio Oferta* </ion-label>
                  <ion-input type="number" name="precioOferta" #precioOferta formControlName="precioOferta"></ion-input>
                </ion-item>

                <div *ngIf="retur.get('precioOferta').touched  && retur.get('precioOferta').hasError('required')">
                  <p>Precio oferta es requerido.!</p>
                </div>

                <div *ngIf="retur.get('precioOferta').touched && retur.get('precioOferta').hasError('pattern')">
                  <p>Ingrese el valor sin puntos, ni comas.</p>
                </div>


                <div *ngIf="retur.get('precioOferta').touched  && retur.hasError('priceOutOfRange')">
                  <p>Precio Oferta no puede ser mayor o igual al Precio Normal!.</p>
                </div>



                <ion-item>
                  <ion-icon name="list" item-start></ion-icon>
                  <ion-label>Categoría</ion-label>
                  <ion-select [(ngModel)]="retur.category" name="categoria" #categoria formControlName="categoria"
                    (ionChange)="subcategories($event,i)">
                    <ion-option *ngFor="let category of categories; let i = index" value="{{category.categoria}}">{{category.categoria}}</ion-option>
                  </ion-select>
                </ion-item>
                <div *ngIf="retur.get('categoria').touched && retur.get('categoria').hasError('required')">
                  <p>Categoria del producto es requerido!</p>
                </div>



                <!--Subcategoria-->

                <ion-item *ngFor="let x of retur.selectedSubcategory">
                  <ion-icon name="list" item-start></ion-icon>
                  <ion-label>Subcategoria</ion-label>
                  <ion-select name="subcategoria" #subcategoria formControlName="subcategoria">
                    <ion-option *ngFor="let subcategory of x.subcategoria" value="{{subcategory.subcategoria}}">{{subcategory.subcategoria}}</ion-option>
                  </ion-select>
                </ion-item>
                <div *ngIf="retur.get('subcategoria').touched && retur.get('subcategoria').hasError('required')">
                  <p>Subcategoria del producto es requerido!</p>
                </div>



                <ion-item>
                  <ion-icon name="paper" item-start></ion-icon>
                  <ion-label stacked>Descripción del producto*</ion-label>
                  <ion-textarea name="description" #description formControlName="description" rows="6" maxLength="500"></ion-textarea>
                </ion-item>
                <div *ngIf="retur.get('description').touched && retur.get('description').hasError('required')">
                  <p>Descripción del producto es requerido!</p>
                </div>

                <ion-item>
                  <ion-icon name="image" item-start></ion-icon>
                  <ion-label>*Imagen</ion-label>
                  <ion-input type="file" accept="image/*" name="picture" #picture formControlName="picture" (change)="selectFileToUpload($event,i)"></ion-input>
                </ion-item>
                <div *ngIf="retur.get('picture').touched && retur.get('picture').hasError('required')">
                  <p>Imagen del producto es requerido!</p>
                </div>


                <div *ngIf="retur.image">
                  <ion-label>Preview</ion-label>
                  <img class="imagen" [src]="retur.image | safe" />
                </div>
                <br />


                <!-- Permite eliminar las productos ingresadas antes de enviar -->
                <button float-right ion-button icon-left clear *ngIf="form.controls.productos.length > 1" (click)="removeInputField(i)">
                  <ion-icon name="close"></ion-icon>
                  Eliminar
                </button>

              </ion-item-group>

            </div>
          </div><br />

          <!-- PERMITE PODER REGISTRAR OTRO PRODUCTO, POR SI TIENE MAS DE UNA -->
          <span ion-button float-left icon-left clear (click)="addNewInputField()">
            <ion-icon name="add"></ion-icon>
            AGREGAR PRODUCTO
          </span>

          <button class="registrar" ion-button round outline block [disabled]="!form.valid">Guardar</button>

        </ion-list>


      </form>

    </div>

  </div>

</ion-content>