<!--
  Generated template for the EditPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Editar</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list no-line>

    <ion-item>
      <ion-icon name="list" item-start></ion-icon>
      <ion-label>Categoría</ion-label>
      <ion-select [(ngModel)]="categorias" name="categoria" #categoria (ionChange)="subcategories($event)">
        <ion-option *ngFor="let category of categories; let i = index" value="{{category.categoria}}">{{category.categoria}}</ion-option>
      </ion-select>
    </ion-item>

    <!--Subcategoria-->

    <ion-item *ngFor="let x of selectedSubcategory">
      <ion-icon name="list" item-start></ion-icon>
      <ion-label>Subcategoria</ion-label>
      <ion-select [(ngModel)]="subcategorias" name="subcategoria" #subcategoria>
        <ion-option *ngFor="let subcategory of x.subcategoria" value="{{subcategory.subcategoria}}">{{subcategory.subcategoria}}</ion-option>
      </ion-select>
    </ion-item>


    <ion-item>
      <ion-label floating>Nombre</ion-label>
      <ion-input id="newName" type="text" name="newName" #newName [(ngModel)]="name"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label floating>Precio</ion-label>
      <ion-input id="newPrice" type="text" name="newPrice" #newPrice [(ngModel)]="price"></ion-input>
    </ion-item>



    <ion-item>
      <ion-label floating>Descripción del producto</ion-label>
      <ion-textarea id="newDescription" rows="6" maxLength="500" name="newDescription" #newDescription [(ngModel)]="description"></ion-textarea>
    </ion-item>

    <br />

    <div *ngIf="image && !isSelected && image.includes('uploads/')">
      <h5>Imagen de producto</h5>
      <img width="250" height="250" src="http://www.commerapp.com/ionic-php-mysql/{{image}}">
    </div>

    <div *ngIf="image && !isSelected && image.includes('http')">
      <h5>Imagen de producto</h5>
      <img width="250" height="250" src="{{image}}">
    </div>

    <ion-item>
      <ion-icon name="image" item-start></ion-icon>
      <ion-label stacked>Cambiar imagen del producto</ion-label>
      <ion-input type="file" accept="image/*" (change)="selectFileToUpload($event)"></ion-input>
    </ion-item>

    <ion-item *ngIf="isSelected">
      <img [src]="newImage" width="250" height="250" />
    </ion-item>


    <div>
      <button ion-button round outline block (click)="Edit()">Actualizar</button>
    </div>

  </ion-list>



</ion-content>