<ion-header>

  <ion-navbar>
    <ion-title>Editar datos administrador</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>

    <form [formGroup]="authForm" (ngSubmit)="Update()">


      <ion-item [ngClass]="{'error-border':!authForm.controls.username.valid && authForm.controls.username.touched}">
        <ion-label floating>Nombre administrador</ion-label>
        <ion-input formControlName="username" type="text" name="username" #username [(ngModel)]="name"></ion-input>
      </ion-item>

      <ion-item *ngIf="authForm.controls.username.hasError('required') && authForm.controls.username.touched">
        <p>Nombre de administrador es requerido</p>
      </ion-item>
      <ion-item *ngIf="authForm.controls.username.hasError('pattern') && authForm.controls.username.touched">
        <p>Permitido solo letras</p>
      </ion-item>


      <ion-item [ngClass]="{'error-border':!authForm.controls.email.valid && authForm.controls.email.touched}">
        <ion-label floating>Correo</ion-label>
        <ion-input formControlName="email" type="email" name="email" #email [(ngModel)]="emails"></ion-input>
      </ion-item>
      <ion-item *ngIf="authForm.controls.email.hasError('required') && authForm.controls.email.touched">
        <p>Ingrese su correo electrónico</p>
      </ion-item>
      <ion-item *ngIf="authForm.controls.email.hasError('pattern') && authForm.controls.email.touched">
        <p>Dirección de correo electrónico no válida</p>
      </ion-item>



      <div padding>

        <button ion-button round outline block color="primary" [disabled]="!authForm.valid" style="margin-top: 20px;"
          type="submit">Actualizar</button>
      </div>

    </form>
  </ion-list>



</ion-content>