<ion-header>

  <ion-navbar>
    <ion-title>Agregar Sucursal </ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <form [formGroup]="form" (ngSubmit)="manage(form.value)">

    <ion-list margin-bottom>

      <H2>Sucursal</H2><br>
      <h4>Por favor si tu empresa o establecimiento tiene sucursales regístrelas, por ultimo da
        Click en el Botón Registrar. Gracias</h4>
      <br>

      <p>Todos los campos con * son obligatorios, llene todos los campos para poder registrar</p>



      <ion-item>
        <ion-icon name="navigate" item-start></ion-icon>
        <ion-label stacked>Dirección de la Empresa*</ion-label>
        <ion-input type="text" maxlength="50" placeholder="CR 16 N 41-10 LOCAL 260" #direction formControlName="direction"></ion-input>
      </ion-item>
      <!--
            <div *ngIf="form.controls.direction.hasError('required') && form.controls.direction.touched">
              <p>Dirección de Empresa es requerido!</p>
            </div>-->


      <ion-item>
        <ion-icon name="list" item-start></ion-icon>
        <ion-label>Departamento</ion-label>
        <ion-select [(ngModel)]="locate" name="country" #country formControlName="country" (ionChange)="CountryChange($event)">
          <ion-option *ngFor="let department of ubicacion; let i = index" value="{{department.departamento}}">{{department.departamento}}</ion-option>
        </ion-select>
      </ion-item>



      <ion-item *ngFor="let x of selectedMunicipality">

        <ion-icon name="list" item-start></ion-icon>
        <ion-label>Municipio</ion-label>
        <ion-select name="state" #state formControlName="state">
          <ion-option *ngFor="let municipio of x.ciudades" value="{{municipio}}">{{municipio}}</ion-option>
        </ion-select>

      </ion-item>

      <button class="registrar" ion-button block margin-top color="primary" text-center [disabled]="!form.valid">Registrar</button>


    </ion-list>


  </form>

</ion-content>